<div class="container">
<div class = "titulo-buttons">
    <p>Lista de productos ({{discos.length}})</p>
    <div>
        <button (click)="turntoGrid()"><span class="material-icons">grid_view</span></button>
        <button (click)="turntoList()"><span class="material-icons">view_list</span></button>
    </div>
</div>

<div class="buscador">
<input type="text" placeholder="Buscador" [(ngModel)]="filter">
</div>


<div *ngIf="grid; else list" class="productos-grid">
    <div class="disco-grid" *ngFor="let disco of discos | filter: filter">
        <img src="{{disco.image}}" alt="{{disco.name}}">
        <h4 class="title">{{disco.name}}</h4>
        <p class="author">{{disco.author}}</p>
        <p class="price">{{disco.price}}</p>
        <p class="stars"><span class="material-icons stars__icon">grade</span>{{disco.stars}}</p>
    </div>
</div>

<ng-template #list>
<div class="productos-list">
    <div class="disco-list" *ngFor="let disco of discos| filter: filter">
        <img src="{{disco.image}}" alt="{{disco.name}}">
        <ul>
            <li class="title">{{disco.name}}</li>
            <li class="author">{{disco.author}}</li>
            <li class="price">{{disco.price}}</li>
            <li class="stars"><span class="material-icons stars__icon">grade</span>{{disco.stars}}</li>
        </ul>
    </div>
</div>
</ng-template>

</div>
