<div class = "titulo-buttons">
    <p>Lista de productos ({{discos.length}})</p>
    <div>
        <button (click)="turntoGrid()"><img src="./assets/icon-grid.png" alt=""></button>
        <button (click)="turntoList()"><img src="./assets/icon-list.png" alt=""></button>
    </div>
</div>

<input type="text" placeholder="Buscador" [(ngModel)]="filter">

<div *ngIf="grid; else list" class="productos-grid">
    <div class="disco-grid" *ngFor="let disco of discos | filter: filter">
        <p>{{disco.name}}</p>
        <img src="{{disco.image}}" alt="{{disco.name}}">
        <p>{{disco.price}}</p>
        <p>{{disco.author}}</p>
        <p>{{disco.stars}}</p>
    </div>
</div>

<ng-template #list>
<div class="productos-list">
    <div class="disco-list" *ngFor="let disco of discos| filter: filter">
        <img src="{{disco.image}}" alt="{{disco.name}}">
        <ul>
            <li>{{disco.name}}</li>
            <li>{{disco.price}}</li>
            <li>{{disco.author}}</li>
            <li>{{disco.stars}}</li>
        </ul>
    </div>
</div>
</ng-template>
