.container {
    width: 90%;
    margin: 30px auto;
}

.title {
    text-transform: uppercase;
    margin-top: 8px;
}

.author {
    color: #9d3b48;
    font-weight: 500;
    margin-top: 8px;
}
.price {
    margin-top: 8px;
}

.price:after {
    content: "€";
    font-size: 12px;
    font-weight: 300;
}

.stars {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;
}

.stars:after {
    content:"/5";
    font-size: 12px;
    font-weight: 300;
}

.stars__icon {
    color: #dbb809;
}

.titulo-buttons {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.buscador {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;

    input{
        border-radius: 3px;
        padding: 8px 30px;
        border: 1px solid;
    }
}



.productos-grid {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    & .disco-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 200px;
        }
    }
}

.productos-list {
    align-content: center;
    & .disco-list {
        border-bottom: 1px solid rgb(176, 175, 175);
        padding: 20px 0px;
        display: flex;
        img {
            height: 100px;
        }
    }

    
}
