<div class="container">

    <form [formGroup]="discoRegister" (ngSubmit)="onSubmit()">
        <input formControlName="image" placeholder="image">
        <input formControlName="name" placeholder="Título"/>
        <input formControlName="author" placeholder="author">
        <input formControlName="price" placeholder="price">
        <input formControlName="stars" placeholder="stars">

        <button type="submit">Subir disco</button>

    </form>
    <app-detail [disco] = "newDisco"></app-detail>

</div>

