* {
    margin:20px 0px;
    color: #f9f4f4;
}

footer {
    background-color: #141010;
    color: #f9f4f4;
    margin: 0px;
    text-align: center;
    padding: 80px 20px;
}

a:hover {
    color: #9d3b48;
}