header {
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        width: 100px;
    }

    ul {
        display: flex;
        gap: 10px;
        text-transform: uppercase;
        padding-inline-start: 20px;

            a {
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 0.8em;
                border: 1px solid;
                border-radius: 50px;
                padding: 8px 30px;
                color: #141010;
                display: flex;
                align-items: center;
                

                .material-icons {
                    padding-right: 10px;
                }
            }

            a:hover {
                color:#9d3b48;
                background-color: transparent;
                border: 1px solid #9d3b48;
            }

            .activo  {
                color:white;
                background-color: #9d3b48;
                border: 1px solid #9d3b48;
            }        
    }
}

@media only screen and (max-width: 600px) {

    header {
        display: flex;
        align-items: center;
        flex-direction: column;

    ul {
        display: list-item !important;
        padding-inline-start: 0px;

        a {
            font-size: 0.6em !important;
            margin-top: 10px;
        }
  }
}
}

